@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:50px">
    <h1 class="display-4">Welcome</h1>
    <h2>It's my demo application's home page.</h2>
    <h3>Go to the TasksToDo section to enter the main page!</h3>
</div>
